<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.leon.surveyapp">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- The main/home activity (it has no parent activity) -->
        <activity
            android:name=".Controller.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- <activity android:label="@string/app_name" android:name=".Controller.SignInActivity" /> -->
        <!-- A child of the main activity -->
        <activity
            android:name=".Controller.SignInActivity"
            android:label="@string/signIn"
            android:parentActivityName=".Controller.MainActivity" />
        <activity
            android:name=".Controller.SignUpActivity"
            android:label="@string/signUp"
            android:parentActivityName=".Controller.MainActivity" />
        <activity
            android:name=".Controller.NavigationActivity"
            android:label="@string/title_activity_navigation"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".Search.SearchActivity"
            android:label="@string/search_activity"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data android:name="android.app.default_searchable"
                android:value="Search.SearchActivity" />

                <meta-data android:name="android.app.searchable"
                    android:resource="@xml/searchable" />

        </activity>


        <activity
            android:name=".Controller.TestActivity"
            android:label="@string/title_activity_test"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Controller.Test2Activity"
            android:label="@string/title_activity_test2" />

        <activity
            android:name=".Api.ApiActivity"
            android:label="@string/title_weather_api"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>